useDynLib(mvbcfMT, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
S3method(print, mvbcfMT)
export(fit_mvbcf_multi)
export(fit_mvbcf2)
export(simulate_met2)
export(simulate_multi)
export(build_components)
export(component_effect)
export(contrast_effect)
export(regime_outcome)
export(predict_effects)
export(vimp_table)
export(vint_table)
export(plot_vimp)
export(mvbcf_trees)
export(vsup_palette)
export(plot_effect_vsup)
export(vsup_legend)
export(plot_component_importance)
export(plot_effect_vsup_xy)
export(plot_effect_forest)
export(overlap_diagnostic)
export(sensitivity_effect)
export(calibrate_intervals)
S3method(print, mvbcf_overlap)
export(vsup_palette_seq)
export(vivi_matrix)
export(plot_vivi_vsup)
export(vsup_legend_seq)
export(plot_vivi_vivid)
export(vsup_wedge)
export(debiased_ate)
S3method(print,mvbcf_debiased)
